<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.data.time.TimeMapper">
    <insert id="addTimeRecord" parameterType="com.example.backend.po.time.TimePO" useGeneratedKeys="true"
        keyProperty="id">
        INSERT INTO time(userId,time_length,create_time)
        VALUES(#{userId},#{length},#{createTime})
    </insert>

    <select id="queryLengthOfTheDateOfOneUser" resultType="Integer">
        select time_length from time where userId=#{userId} and create_time >= #{create_time0} and create_time &lt;= #{create_time1}
    </select>
    
    <select id="getRecordsById" resultMap="timeMap">
        select * from time where userId = #{userId}
    </select>

    <resultMap id="timeMap" type="com.example.backend.po.time.TimePO">
        <id column="id" property="id"></id>
        <result column="userId" property="userId"></result>
        <result column="time_length" property="length"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>


</mapper>