<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.data.task.TaskMapper">

    <insert id="addTask" parameterType="com.example.backend.po.task.TaskPO" useGeneratedKeys="true"
            keyProperty="taskId">
        INSERT INTO task(user_id, title, start_time, end_time, priority, detail, status)
        VALUES (#{userId}, #{title}, #{startTime}, #{endTime}, #{priority}, #{detail}, #{status})
    </insert>

    <update id="updateTask" parameterType="com.example.backend.po.task.TaskPO">
        UPDATE task
        SET title=#{title},
            start_time = #{startTime},
            end_time=#{endTime},
            priority = #{priority},
            detail = #{detail},
            status = #{status}
        WHERE task_id = #{taskId}
    </update>

    <delete id="deleteTask" parameterType="com.example.backend.po.task.TaskPO">
        DELETE FROM task WHERE task_id = #{taskId}
    </delete>
    
    <select id="queryTaskByUserId" resultType="com.example.backend.po.task.TaskPO">
        SELECT * FROM task where user_id = #{userId}
    </select>

</mapper>